body, html {
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #000322, #000835, #001140);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 3, 34, 0.8)),
              url('/assets/img/tierra.jpg');
  background-size: cover;
  background-position: center;
}

#formRegister {
  width: 50%;
  height: 55vh;
  max-width: 500px;
  min-width: 500px;
  max-height: 550px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  border: 2px solid #00d4ff;
  border-radius: 25px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
}

#formRegister:hover,
#formRegister:focus-within {
  opacity: 1;
}

.input {
  width: 70%;
  padding: 14px;
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  text-align: center;
  appearance: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease-in-out;
}

.input:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.input:focus {
  border: 2px solid #00d4ff;
  box-shadow: 0 0 15px #00d4ff;
}

.input:focus::placeholder {
  color: rgba(255, 255, 255, 0);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.sessionButton {
  color: white;
  width: 70%;
  text-align: center;
  padding: 12px 18px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #00d4ff;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.sessionButton:hover {
  background-color: #00d4ff;
  color: #000835;
  box-shadow: 0 0 10px #00d4ff;
}

.sessionButton:active {
  background-color: #003f7f;
  transform: scale(1.05);
}

#terms {
  width: 70%;
  height: 8%;
  color: white;
  text-align: center;
}

.registerLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

span {
  opacity: 0.7;
}

.registerLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-left: 15px;
  display: inline-block;
}

.registerLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00d4ff;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.registerLink:hover {
  color: #00d4ff;
  text-shadow: 0 0 8px #00d4ff;
  transform: scale(1.1);
}

.registerLink:hover::after {
  width: 100%;
  height: 3px;
}

/* Estilos para el snackbar de error */
#mensaje-error {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeOut {
  from {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(-20px);}
}
