.record-container {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #000835;
  position: relative;
}

.imgrec {
  width: 40%;
  height: 56%;
  border-radius: 15px;
  opacity: 1;
}

.imgrec:hover {
  opacity: 0.3;
}

#Registercon {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar contenido */
  background: #000835;
}

#formRegister {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar elementos */
  flex-direction: column;
  gap: 25px;
  /* margin-right: 5%; */
}

#email,
#nombre,
#password,
#button,
.role-select {
  width: 90%;
  height: 8%;
  padding: 12px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
}

#button {
  height: 10%;
  font-size: 30px;
  background-color: #0c66e1;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button:hover {
  background-color: #0056b3;
  transform: scale(1);
}

#button:active {
  background-color: #003f7f;
  transform: scale(1.05);
}

#terms,
#termss {
  width: 48%;
  height: auto;
  color: white;
  text-align: center;
}

#termss {
  transform: translateY(-20px);
}

#mensaje-exito {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

strong {
  align-text: center;
}

.registerButton {
  height: 6% !important;
  width: 45% !important;
  font-size: 1.6rem !important;
}

.registradoButton {
  display: flex;
  height: 6% !important;
  width: 45% !important;
  background-color: gray !important;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}