* {
    margin: 0;
    padding: 0;
  }
  
  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  .container {
    height: 80vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #000835;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  .container__titulo {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2.3rem; /* Tamaño de fuente más grande */
    font-family: 'Montserrat', sans-serif; /* Fuente personalizada */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    transition: transform 0.3s ease-in-out; /* Transición para el efecto hover */
}

.container__titulo:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}

  .container--resumen {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
  }
  
  @media screen and (max-width: 767px) {
    .container--resumen {
      justify-content: center;
      margin-left: 10px;
    }
  }
  
  .resumen__preguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .resumen__respuestas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }
  
  .resumen__preguntas__item {
    padding: 10px 10px;
    font-weight: 600;
    background-color: #c5d5f9;
    color: #000835;
    display: flex;
    align-items: center;
  }
  
  .resumen__respuestas__item {
    padding: 10px 10px;
    display: flex;
    align-items: center;
  
  }
  
  @media screen and (max-width: 767px) {
    .resumen__respuestas {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  
  @media screen and (max-width: 767px) {
    .resumen__respuestas__item {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 767px) {
    .resumen__imagen {
      display: none;
    }
  }
  
  .fa-plane-up {
    font-size: 100px;
  }
  
  .slide-in-bottom {
    -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .vibrate-1:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
            animation: vibrate-1 0.3s linear infinite both;
  }
  
  .container__botones {
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  button {
    background-color: #000835;
    border-radius: 8px;
    font-size: 18px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: #c5d5f9;
  }
  
  button:hover {
    color: #c5d5f9;
    background-color: #3a8bff;
  }
  
  input {
    border: none;
    color: #ffffff;
    background-color: #000835;
    font-size: 18px;
  }
  