.start {
  width: 100%;
  height: calc(100vh - 6vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000835;
}

/* Contenedor principal */
.container {
  width: 100%;
  height: calc(100vh - 6vh); /* Mantiene el espacio para el navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000835;
  position: relative;
}

.image {
  border-radius: 15px;
}

/* Texto informativo */
.nosotros {
  background: #000835;
  color: white;
  width: 40%;
  height: 20%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  opacity: 0;
  animation: subirFlotando 2s ease-out forwards;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 1.5%;
}

@keyframes subirFlotando {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
