.table-container {
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 91vh;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  background-color: white;
  text-align: center;
}

.table-header {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: white;
}

.table-header th {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e8f0;
  background-color: #1f2937;
  color: white;
}

.table-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e8f0;
  height: 82px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border: none;
}

.button-view {
  background-color: #3b82f6;
}

.button-hide {
  background-color: #1e3a8a;
  width: 30%;
}

.button-contact {
  background-color: #10b981;
  transition: all 0.2s ease-in-out;
}

.button-contact:hover {
  background-color: #059669;
  transform: scale(1.05);
}

.destinations-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.destinations-list {
  overflow: auto;
  max-height: 64px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.destination-item {
  cursor: pointer;
}
